PORT=3000
JWT_SECRET=secretKey
JWT_EXPIRES_IN=30d

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=[ID]
AWS_SECRET_ACCESS_KEY=[Key]
S3_BUCKET=soothe-songs

# DynamoDB Tables
USERS_TABLE=Users
SONGS_TABLE=Songs
CHATS_TABLE=Chats
PERSONAL_PLAYLISTS_TABLE=PersonalPlaylists
PUBLIC_PLAYLISTS_TABLE=PublicPlaylists
FAVOURITES_TABLE=Favourites

BREVO_SMTP_USER=[URL]
BREVO_SMTP_KEY=[KEY]
BREVO_FROM_EMAIL=[EMAIL]

GEMINI_API_KEY=[KEY]
PINECONE_API_KEY=[KEY]